<div class="mat-toolbar dark" fxLayout="row" fxLayoutAlign="space-evenly stretch" fxLayout.lt-sm="column">
    <mat-list fxLayout="column" fxLayoutAlign="start">
        <h3 mat-list-item>Liens Utiles</h3>
        <a mat-list-item href="/accueil">Accueil</a>
        <a mat-list-item href="/decouvrir">Qui sommes nous</a>
        <a mat-list-item href="/actualites">Actualités</a>
        <a mat-list-item href="/contact">Contact</a>
    </mat-list>
    <mat-list fxLayout="column" fxLayoutAlign="start">
        <h3 mat-list-item>Dernières actualités</h3>
    </mat-list>
    <mat-list fxLayout="column" fxLayoutAlign="start">
        <h3 mat-list-item>Coordonnées</h3>
        <a mat-list-item>Le Cerisier</a>
        <a mat-list-item>61700 Champsecret</a>
        <a mat-list-item href="mailto:zinzindesarrasin@gmail.com">zinzindesarrasin@gmail.com</a>
    </mat-list>
</div>
<div class="x-dark" fxLayout="row" fxLayoutAlign="center stretch">
    <p>&copy; Tous droits réservés. 2021 Zinzindesarrasin</p>
</div>