.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;

  background-color: #5E5C5D;

  mat-list {
    .mat-subheader {
      color: #DDDDDD;
    }

    .mat-list-item {
      text-decoration: none;
      color: #CCCCCC;
      font-size: small;
    }

    .partners {
      padding: 0 16px;
      height: 70px;
      display: flex;
      flex-direction: row-reverse;
      gap: 10px;
    }

    #facebook-link {
      color: white;
    }
  }
}

.copyrights {
  text-align: center;
  font-size: small;
  color: #DDDDDD;
  background-color: #333333;
}

@media screen and (min-width: 425px) {
  .footer {
    display: flex;
    flex-direction: row;

    mat-list {
      .partners {
        height: 70px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}
