<div class="footer">
  <mat-list dense>
    <span mat-subheader>Liens Utiles</span>
    <a mat-list-item routerLink="/">Accueil</a>
    <a mat-list-item routerLink="/produits">Produits</a>
    <a mat-list-item routerLink="/contact">Contact</a>
    <a mat-list-item href="https://www.facebook.com/Zinzin-de-Sarrasin-105029095228697" id="facebook-link">
      <img alt="facebook" height="24px" src="../../../../assets/img/facebook.svg" width="24px">
    </a>
  </mat-list>
  <mat-list dense>
    <span mat-subheader>Coordonnées</span>
    <mat-list-item>Patrick Brionne</mat-list-item>
    <mat-list-item>Le Cerisier</mat-list-item>
    <mat-list-item>61700 Champsecret</mat-list-item>
    <a mat-list-item href="mailto:zinzindesarrasin@gmail.com">zinzindesarrasin@gmail.com</a>
    <mat-list-item>06 82 92 28 38</mat-list-item>
  </mat-list>
  <mat-list dense>
    <div mat-subheader>Partenaires</div>
    <div class="partners">
      <a mat-list-item href="https://normandie.fr/" id="lien-normandie">
        <img alt="normandie.fr"
             class="logo-reference"
             height="50"
             src="../../../../assets/img/normandie.webp"
             width="68"></a>
      <a class="lien-reference" href="https://orne.fr/" id="lien-orne">
        <img alt="orne.fr"
             class="logo-reference"
             height="50"
             src="../../../../assets/img/orne.webp"
             width="103">
      </a>
    </div>
  </mat-list>
</div>
<div class="copyrights">
  <span>&copy; Tous droits réservés. 2022 Zinzindesarrasin</span>
</div>
