<div class="header" fxLayout="column" fxLayoutAlign="center stretch">
  <h1 id="title">Comment acheter nos galettes ?</h1>
</div>
<div class="wrapper" fxLayout="row" fxLayoutAlign="center none">
  <div class="content" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px">
    <div fxLayout="column" fxLayoutAlign="center stretch">
      <p>Nos galettes sont disponibles sur commande via notre adresse mail : <a
        href="mailto:zinzindesarrasin@gmail.com">zinzindesarrasin@gmail.com</a></p>
      <p>Les commandes peuvent être récupérées sur les sites et aux horaires suivants :</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center none" fxLayoutGap="50px">
      <table [dataSource]="lieux" aria-describedby="Lieux de vente" mat-table>
        <ng-container matColumnDef="ville">
          <th *matHeaderCellDef mat-header-cell> Ville</th>
          <td *matCellDef="let lieu" mat-cell>{{lieu.ville}}</td>
        </ng-container>
        <ng-container matColumnDef="site">
          <th *matHeaderCellDef mat-header-cell> Site</th>
          <td *matCellDef="let lieu" mat-cell>{{lieu.site}}</td>
        </ng-container>
        <ng-container matColumnDef="jours">
          <th *matHeaderCellDef mat-header-cell> Jours</th>
          <td *matCellDef="let lieu" mat-cell>{{lieu.jours}}</td>
        </ng-container>
        <ng-container matColumnDef="heures">
          <th *matHeaderCellDef mat-header-cell> Horaires</th>
          <td *matCellDef="let lieu" mat-cell>{{lieu.heures}}</td>
        </ng-container>
        <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
        <tr *matRowDef="let row; columns: columnsToDisplay" mat-row></tr>
      </table>
    </div>
  </div>
</div>
