<div class="footer-container" fxLayout="column" fxLayoutAlign="center none"> 
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.sm="column">
        <div class="footer-category">
            <h4>Retrouvez nous sur :</h4>
            <mat-list>
                <a mat-list-item class="footer-link" href="">
                    <mat-icon>facebook</mat-icon>
                    <span>Facebook</span>
                </a>
            </mat-list>
        </div>
    </div>
    <div>
        <p class="copyright">2021 &copy; FCB</p>
    </div>
</div>