<div class="wrapper">
  <div class="section">
    <div class="illustration">
      <img class="ferme" alt="" src="../../../../assets/img/ferme.webp">
    </div>
    <div class="section-paragraph">
      <h2>Notre ferme</h2>
      <p>Ce joli petit village est au contact de la route d&eacute;partementale 21 qui relie Domfront-en-Poiraie
        &agrave;La Ferri&egrave;re-aux-Etangs.
      </p>
      <p>Il est &eacute;galement accessible depuis la voie verte situ&eacute;e en contrebas. Cette ancienne ligne de
        chemin de fer transform&eacute;e en chemin touristique s&eacute;curis&eacute; permet de gagner Flers ou le Mont
        Saint-Michel, en passant par Domfront-en-Poiraie et Mortain.
      </p>
      <p>Depuis 2019, nous avons recr&eacute;&eacute; une petite ferme &agrave; l&rsquo;entr&eacute;e du village en
        restaurant de tr&egrave;s anciens b&acirc;timentsu agricoles. Nous disposons de 10 hectares de terre labourable
        dans l&rsquo;environnement proche du corps de b&acirc;timent.
      </p>
      <p>Toute la transformation du sarrasin est assur&eacute;e sur place (nettoyage et triage de la graine, stockage,
        fabrication de la farine puis des galettes). Nous cultivons chaque ann&eacute;e quatre hectares de sarrasin
        (vari&eacute;t&eacute; La Harpe).
      </p>
    </div>
  </div>
  <div class="section">
    <div class="illustration">
      <img alt="" src="../../../../assets/img/bocage.webp">
    </div>
    <div class="section-paragraph">
      <h2>Le sarrasin en Normandie</h2>
      <p>De nos jours, en France, le sarrasin ou &ldquo;bl&eacute; noir&rdquo; est &eacute;troitement associ&eacute;&agrave;
        la Bretages. Mais Les d&eacute;partements normands de l&rsquo;Orne, de la Manche et du Calvados et plus
        particuli&egrave;rement le territoire du bocage normand (pays de Domfront, Vire, Mortain) ont longtemps cultiv&eacute;
        du sarrasin (1).
      </p>
      <p>&quot;Que le sarrasin ait &eacute;t&eacute; la principale denr&eacute;e cultiv&eacute;e dans le Domfrontais,
        faisant d&rsquo;elle la premi&egrave;re ressource alimentaire, ne fait aucun doute [...] Les plus anciennes
        mentions &eacute;crites de sarrasin dans le Domfrontais remontent au dernier quart du XVIe si&egrave;cle [...] M&ecirc;me
        si les documents manquent pour le d&eacute;montrer, il est fort probable que le sarrasin a &eacute;t&eacute;
        cultiv&eacute; en plein champ dans le Domfrontais d&egrave;s la fin du Xve si&egrave;cle, comme dans les autres
        r&eacute;gions du massif armoricain [...]&quot;
      </p>
      <p>Introduit dans les syst&egrave;mes agraires au cours des XVe -XVIe si&egrave;cles, le bl&eacute; noir devient&agrave;
        partir du XVIIe si&egrave;cle la principale denr&eacute;e alimentaire de l&rsquo;Ouest. Ce n&rsquo;est qu&rsquo;&agrave;
        la fin du XIXe si&egrave;cle que sa culture recule au point d&rsquo;&ecirc;tre consid&eacute;r&eacute;e comme
        anecdotique apr&egrave;s la Seconde Guerre mondiale (2).
      </p>
      <p>Actuellement, la consommation de sarrasin sous forme de galettes ou de bouillie est demeur&eacute;e une
        habitude alimentaire dans certains foyers du bocage normand. Ce rendez-vous culinaire demeure volontiers
        hebdomadaire. On le retrouve sur la table le vendredi ou le dimanche.
      </p>
      <cite>(1) CHAUSSAT Alain-Gilles, &ldquo;une autre r&eacute;gion du sarrasin : le bocage normand (XVe &ndash; Xxe
        si&egrave;cle) dans ANDRIEUX Jean- Yves et HARISMENDY Patrick (&eacute;d.), l&rsquo;assiette du touriste, le go&ucirc;t
        de l&rsquo;authentique, Rennes, Presses universitaires de Rennes et Presses universitaires Fran&ccedil;ois-Rabelais,
        2013, p. 57-68.
      </cite>
      <cite>(2) CHAUSSAT Alain-Gilles, &ldquo;Le sarrasin, une manne pour le Domfrontais (XVIIe et XVIIIe si&egrave;cle)
        dans Bulletin trimestriel de la soci&eacute;t&eacute; historique et arch&eacute;ologique de l&rsquo;Orne, t.
        CXXXII, n&deg; 3 et 4, 2013, aspects d&eacute;mographiques et socio-&eacute;conomiques de l&rsquo;Orne aux XVIIe
        et XVIIIe si&egrave;cles, p. 111-140.
      </cite>
    </div>
  </div>
</div>
