<div class="header" fxLayout="column" fxLayoutAlign="center none">
  <h1 id="title">Les atouts du sarrasin</h1>
</div>
<div class="wrapper" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="30px">
  <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="30px">
    <div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="30px">
      <img class="illustration" src="../../../assets/img/fleur.webp"
           alt="Photo d'illustration de galettes de sarrasin">
      <div class="content" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="30px">
        <div fxLayout="row" fxLayoutAlign="center center"><h2>Interets nutritionels</h2></div>
        <p>Le sarrasin est couramment appelé “blé noir” mais ne fait pas partie des variétés de blé ni de la famille des
          graminées. C’est une plante à fleurs annuelle de la famille des polygonacées (comme l’oseille, le rumex –
          communément appelé “doche” dans le bocage - et la rhubarbe).</p>
        <p>Il produit des graines qui ont la forme d’une petite pyramide à trois pans (un nucule triangulaire).</p>
        <p>Le sarrasin est hautement nutritif, antioxydant, riche en protéines et en fibres solubles.</p>
        <p>Il contient notamment des vitamines du groupe B (qui jouent un rôle important dans le métabolisme des
          cellules,
          globalement, elles participent à la transformation des nutriments en énergie et favorisent la transmission des
          influx nerveux), de la rutine, du magnésium, du phosphore, du zinc, du manganèse, du cuivre et du fer. Sans
          gluten, il contient tous les acides animés essentiels.</p>
        <p>Sur le plan nutritionnel, les farines complètes de sarrasin et de froment ont des profils très proches : 11 %
          de protéines, 62−68 % de glucides (constitués principalement d'amidon) et peu de lipides (1−2 %).</p>
        <p>La farine de sarrasrin est plus riche en protéines que les autres farines de blé. Les caractères
          différentiels
          du sarrasin sont sa richesse en composés phénoliques, et l'absence dans sa composante protéique, de protéines
          insolubles dans l'eau capable de former du gluten.</p>
      </div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="30px">
      <div class="content" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="30px">
        <div fxLayout="row" fxLayoutAlign="center center"><h2>Interets agronomiques</h2></div>
        <p>La culture de sarrasin est très intéressante dans la rotation. Peu exigeante en azote et rustique, cette
          plante
          possède une arme redoutable une fois ses racines développées : l’allélopathie. Cela signifie que ses racines
          secrètent des inhibiteurs de germination qui empêchent les autres plantes de se développer.</p>
        <p>Pour les rotations ayant beaucoup de cultures d’hiver, cette pseudo-céréale de fin de printemps permet de
          couper le cycle de développement des adventices.</p>
        <p>(source : revue de l’union française d’agriculture biologique n°71, avril-mai 2021)</p>
      </div>
      <img class="illustration" src="../../../assets/img/champ.webp"
           alt="Photo d'illustration de galettes de sarrasin">
    </div>
  </div>
</div>
