.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;

  background-color: #5E5C5D;

  .list {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 25px;
    min-width: calc(33vw - 50px);

    .header {
      color: white;
      font-size: large;
      padding-bottom: 16px;
    }

    span, a {
      transition-duration: 200ms;

      padding-bottom: 10px;
      text-decoration: none;
      font-size: medium;
      color: #EEEEEE;
    }

    a:hover {
      transition-duration: 200ms;

      color: #d7ae0d;
    }

    .partners {
      flex-direction: row;
      gap: 10px;
      justify-content: center;
      height: 70px;
      display: flex;
    }

    #facebook-link {
      color: white;
    }
  }
}

.copyrights {
  text-align: center;
  font-size: small;
  color: #DDDDDD;
  background-color: #333333;
}

@media screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
  }
}
