<div class="footer">
  <div class="list">
    <span class="header">Liens</span>
    <a routerLink="/">Accueil</a>
    <a routerLink="/produits">Produits</a>
    <a routerLink="/a-propos">A propos</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/mentions-legales">Mentions l&eacute;gales</a>
    <a href="https://www.facebook.com/Zinzin-de-Sarrasin-105029095228697" id="facebook-link">
      <img alt="facebook" height="24px" src="../../../../../assets/img/facebook.svg" width="24px">
    </a>
  </div>
  <div class="list">
    <span class="header">Coordonnées</span>
    <span>Patrick Brionne</span>
    <span>Le Cerisier</span>
    <span>61700 Champsecret</span>
    <a href="mailto:zinzindesarrasin@gmail.com">zinzindesarrasin&#64;gmail.com</a>
    <span>06 82 92 28 38</span>
  </div>
  <div class="list">
    <div class="header">Partenaires</div>
    <div class="partners">
      <a href="https://normandie.fr/" id="lien-normandie">
        <img alt="normandie.fr"
             class="logo-reference"
             height="50"
             src="../../../../../assets/img/normandie.webp"
             width="68"></a>
      <a class="lien-reference" href="https://orne.fr/" id="lien-orne">
        <img alt="orne.fr"
             class="logo-reference"
             height="50"
             src="../../../../../assets/img/orne.webp"
             width="103">
      </a>
    </div>
  </div>
</div>
<div class="copyrights">
  <span>&copy; Tous droits réservés. 2022 Zinzindesarrasin</span>
</div>
