<div class="contact-content" >
    <div fxLayout="column" fxLayoutAlign="space-around stretch">
        <h1>Ecrivez nous !</h1>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center stretch" fxLayoutGap="10px">
            <div fxFlex="45%">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat, mauris vel sagittis elementum, neque tortor dignissim elit, a porta leo metus id tellus. Donec quis leo elit. Aenean hendrerit mauris eu orci efficitur molestie. Fusce ipsum tellus, dictum sit amet massa ac, molestie mollis ligula. Mauris semper leo sodales turpis gravida, in mollis libero feugiat. Integer at massa massa. Nam maximus lorem tortor, eget dignissim lectus placerat vitae. Praesent sit amet euismod arcu. Donec pulvinar efficitur risus commodo laoreet. 
                </p>
            </div>
            <form class="contact-form" fxFlex="45%" fxLayout="column" fxLayoutAlign="center stretch">
                <div fxLayout="row" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px" fxFlex="20%">
                    <mat-form-field appearance="fill" fxFlex="50%">
                        <mat-label>Email</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex="50%">
                        <mat-label>Objet</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <mat-form-field appearance="fill" fxFlex="80%">
                    <mat-label>Message</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>