a, .grey {
  text-decoration: none;
  color: #444444;
}

.mobile {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.desktop {
  display: none;
}

mat-toolbar {
  justify-content: space-around;
  height: 72px;
}


.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.logo {
  display: flex;
  flex-direction: column;

  span:first-child, #logo-mobile span:first-child {
    font-family: Explorer, sans-serif;
    color: #5e5c5d;
    margin-bottom: 5px;
  }

  span:last-child, #logo-mobile span:last-child {
    color: #d6ae0b;
  }

  span, #logo-mobile span {
    font-family: Boris, cursive;
    height: 15px;
    font-size: large;
    line-height: 15px;
  }
}

@media(min-width: 1024px) {

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .navigation-items {
      display: flex;
      flex-direction: row;
    }
  }
}
