<mat-nav-list>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/accueil" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Accueil</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/ferme" (click)="onSidenavClose()">
        <mat-icon>gite</mat-icon>
        <span class="nav-caption">Notre ferme</span>
    </a>
    <a mat-list-item routerLink="/atouts" (click)="onSidenavClose()">
        <mat-icon>gite</mat-icon>
        <span class="nav-caption">Les atouts du sarrasin</span>
    </a>
    <a mat-list-item routerLink="/pourquoi" (click)="onSidenavClose()">
        <mat-icon>gite</mat-icon>
        <span class="nav-caption">Pourquoi du sarrasin ?</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/commander" (click)="onSidenavClose()">
        <mat-icon>shopping_cart</mat-icon>
        <span class="nav-caption">Commander</span>
    </a>
    <a mat-list-item routerLink="/actualites" (click)="onSidenavClose()">
        <mat-icon>article</mat-icon>
        <span class="nav-caption">Actualités</span>
    </a>
    <a mat-list-item routerLink="/contact" (click)="onSidenavClose()">
        <mat-icon>contact_support</mat-icon>
        <span class="nav-caption">Contact</span>   
    </a>
    <mat-divider></mat-divider>
</mat-nav-list>