h1 {
  font-family: Explorer, sans-serif;
  font-size: xx-large;
  line-height: 1.5em;
  color: white;
}

.section {
  margin: 250px 0;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../../../assets/img/path2.svg") repeat-x;
  background-size: auto 100%;
  text-align: center;
}

.first {
  height: calc(100vh - 75px);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center url("../../../assets/img/path1.svg") repeat-x;
}

.logo {
  width: 80vw;
  max-width: 600px;
  text-shadow: 0 10px 50px -10px #000000;
}

.blob {
  animation: blob-rotate 20s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes blob-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
