<div class="first break" fxLayout="column" fxLayoutAlign="center none">
    <h1 id="title">Bienvenue</h1>
    <div fxLayout="row" fxLayoutAlign="center none">
        <img id="logo" src="../../../assets/img/logo.png" alt="">
    </div>
</div>
<div class="parallax" id="champ"></div>
<div class="break" fxLayout="column" fxLayoutAlign="center stretch">
    <h1>Nos galettes sont 100% biologiques</h1>
</div>
<div class="parallax" id="fleur"></div>
<div class="last break" fxLayout="column" fxLayoutAlign="center stretch">
    <h1>N'hesitez pas a nous faire part de vos recommandations</h1>
</div>
