<div style="padding: 10px;" fxLayout.gt-sm="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px">
    <mat-card fxFlex="19" *ngFor="let article of articles">
        <mat-card-header>
            <mat-card-title>{{ article.nomArticle }}</mat-card-title>
            <mat-card-subtitle>{{ article.prixArticle }} €</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/logo.jpg" alt="">
        <mat-card-actions>
            <mat-form-field class="form-field">
                <input matInput type="number" name="" id="">
            </mat-form-field>
            <button mat-icon-button><mat-icon>add_shopping_cart</mat-icon></button>
        </mat-card-actions>
    </mat-card>
</div>