<div class="header" fxLayout="column" fxLayoutAlign="center none">
    <h1 id="title">Le sarrasin en Normandie</h1>
</div>
<div class="wrapper" fxLayout="row" fxLayoutAlign="center none">
    <div class="content" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px">
        <p>De nos jours, en France, le sarrasin ou “blé noir” est étroitement associé à la Bretages. Mais Les
            départements normands de l’Orne, de la Manche et du Calvados et plus particulièrement le territoire du
            bocage normand (pays de Domfront, Vire, Mortain) ont longtemps cultivé du sarrasin <sup>(1)</sup>.
        </p>
        <p><q>
            Que le sarrasin ait été la principale denrée cultivée dans le Domfrontais, faisant d’elle la première
            ressource alimentaire, ne fait aucun doute [...] Les plus anciennes mentions écrites de sarrasin dans le
            Domfrontais remontent au dernier quart du XVIe siècle [...] Même si les documents manquent pour le
            démontrer, il est fort probable que le sarrasin a été cultivé en plein champ dans le Domfrontais dès la fin
            du Xve siècle, comme dans les autres régions du massif armoricain [...]
        </q></p>
        <p>
            Introduit dans les systèmes agraires au cours des XVe -XVIe siècles, le blé noir devient à partir du XVIIe
            siècle la principale denrée alimentaire de l’Ouest. Ce n’est qu’à la fin du XIXe siècle que sa culture recule
            au point d’être considérée comme anecdotique après la Seconde Guerre mondiale <sup>(2)</sup>.
        </p>
        <p>
            Actuellement, la consommation de sarrasin sous forme de galettes ou de bouillie est demeurée une
            habitude alimentaire dans certains foyers du bocage normand. Ce rendez-vous culinaire demeure
            volontiers hebdomadaire. On le retrouve sur la table le vendredi ou le dimanche.
        </p>
        <p><cite>
            (1) CHAUSSAT Alain-Gilles, “une autre région du sarrasin : le bocage normand (XVe – Xxe siècle) dans ANDRIEUX Jean-
            Yves et HARISMENDY Patrick (éd.), l’assiette du touriste, le goût de l’authentique, Rennes, Presses universitaires de Rennes
            et Presses universitaires François-Rabelais, 2013, p. 57-68.
        </cite></p>
        <p><cite>
            (2) CHAUSSAT Alain-Gilles, “Le sarrasin, une manne pour le Domfrontais (XVIIe et XVIIIe siècle) dans Bulletin trimestriel
            de la société historique et archéologique de l’Orne, t. CXXXII, n° 3 et 4, 2013, aspects démographiques et socio-économiques
            de l’Orne aux XVIIe et XVIIIe siècles, p. 111-140.
        </cite></p>
    </div>
</div>