<div class="wrapper">
  <h1>Mentions l&eacute;gales</h1>
  <p>
    Vous &ecirc;tes actuellement connect&eacute; au site zinzindesarrasin.fr qui est la propri&eacute;t&eacute;
    exclusive
    de Patrick Brionne</p>
  <ul>
    <li>Patrick Brionne - Entrepreneur individuel</li>
    <li>Lieu-dit Le Cerisier, 61700 Champsecret</li>
    <li>Immatricul&eacute;e au R.C.S de Paris sous le n&deg; SIREN : 838 645 695</li>
    <li>Num&eacute;ro individuel d&rsquo;identification d&rsquo;assujetti TVA : 82 838 645 695</li>
    <li>Contact : <a routerLink="/contact">consulter notre page contact</a></li>
    <li>H&eacute;bergeur du site internet : FIREBASE &ndash; <a href="https://firebase.google.com/">https://firebase.google.com/</a>
      (si&egrave;ge social : 188 King ST, San Fransisco, CA 94107, United States).
    </li>
    <li>R&eacute;servation du nom de domaine : www.zinzindesarrasin.fr est un domaine d&eacute;pos&eacute; par ZINZIN DE
      SARRASIN (SIREN :
      838645695 / APE: 01.11Z) le 20/10/2006 aupr&egrave;s de OVH.
    </li>
    <li>Photographies : Damien Vanderstraeten</li>
  </ul>
  <h1>Conditions g&eacute;n&eacute;rales d&#39;utilisation</h1>
  <h2>Introduction</h2>
  <p>
    Conform&eacute;ment aux dispositions des Articles 6-III et 19 de la Loi n&deg;2004-575 du 21 juin 2004 pour la
    Confiance dans l&rsquo;&eacute;conomie num&eacute;rique, dite L.C.E.N., il est port&eacute; &agrave; la connaissance
    des Utilisateurs du site https://www.zinzindesarrasin.fr/ les pr&eacute;sentes mentions l&eacute;gales. La connexion
    et la navigation sur le site https://www.zinzindesarrasin.fr/ par l&rsquo;Utilisateur implique acceptation int&eacute;grale
    et sans r&eacute;serve des pr&eacute;sentes mentions l&eacute;gales. Ces derni&egrave;res sont accessibles sur le
    site
    &agrave; la rubrique &laquo; Mentions l&eacute;gales &raquo;.
  </p>
  <h2>Article 1 : l'éditeur</h2>
  <p>L&#39;&eacute;dition du site https://www.zinzindesarrasin.fr/ est assur&eacute;e par Victor Brionne, Le Cerisier,
    61700 Champsecret, <a href="mailto:victor.brionne@gmail.com">victor.brionne@gmail.com</a>, 06 18 49 89 41</p>
  <h2>Article 2 : l&#39;h&eacute;bergeur</h2>
  <p>
    L&#39;h&eacute;bergeur du site https://www.zinzindesarrasin.fr/ est la Soci&eacute;t&eacute; FIREBASE HOSTING
    par GOOGLE, dont le si&egrave;ge social est situ&eacute; au Google INC, 1600 Amphitheatre Parkway,
    Mountain View, California 94043 USA.
  </p>
  <h2>Article 3 : Acc&egrave;s au site</h2>
  <h2>Article 4 : Collecte des donn&eacute;es</h2>
  <p>
    Le site est exempt&eacute; de d&eacute;claration &agrave; la Commission Nationale Informatique et Libert&eacute;s
    (CNIL) dans la mesure o&ugrave; il ne collecte aucune donn&eacute;e concernant les utilisateurs.
  </p>
  <h2>Article 5 : Cookies</h2>
  <p>Aucun cookie n&#39;est utilis&eacute; par le site https://www.zinzindesarrasin.fr/</p>
  <h2>Article 5 : Propri&eacute;t&eacute; intelectuelle</h2>
  <p>
    Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie
    du site https://www.zinzindesarrasin.fr/, sans autorisation de l&rsquo;&eacute;diteur est prohib&eacute;e et
    pourra entra&icirc;n&eacute;e des actions et poursuites judiciaires telles que notamment pr&eacute;vues par le
    Code de la propri&eacute;t&eacute; intellectuelle et le Code civil.
  </p>


</div>
