<div class="wrapper">
  <div class="section">
    <div class="section-paragraph">
      <h2>Ou acheter nos produits ?</h2>
      <p>
        Nos galettes sont disponibles sur commande via notre adresse mail : <a href="mailto:zinzindesarrasin@gmail.com">zinzindesarrasin@gmail.com</a>.
        Les commandes peuvent être récupérées sur les sites et aux horaires suivants :
      </p>
    </div>
  </div>
  <div class="section">
    <div class="illustration">
      <img class="galettes" alt="" src="assets/img/galette.webp">
    </div>
    <div class="section-paragraph">
      <h2>Nos galettes de sarrasin</h2>
      <p>
        Produites de mani&egrave;re artisanales et tourn&eacute;es &agrave; la main, elles sont &eacute;galement
        biologiques et sans gluten. Elles sont fabriqu&eacute;es &agrave; partir notre farine de sarrasin, d&apos;eau et
        de sel de gu&eacute;rande. Elles ne contiennent aucun produit d&apos;origine animale que ce soit du lait ou des
        oeufs ce qui leur permet d&#39;&ecirc;tre &eacute;galement vegan. Elles sont ensuite cuites sur des plaques en
        fonte. Elles sont non-garnies, ce qui vous permet de donner libre cours &agrave; toutes vos envies, sal&eacute;es
        ou sucr&eacute;es.
      </p>
      <div class="section-logos">
        <div class="logo">
          <img alt="" src="assets/img/AB.svg" height="30">
          <span>Biologique</span>
        </div>
        <div class="logo">
          <img alt="" src="assets/img/gluten.svg" height="30">
          <span>Sans gluten</span>
        </div>
        <div class="logo">
          <img alt="" src="assets/img/vegetarian-mark.svg" height="30">
          <span>Végétarien et Vegan</span>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="illustration">
      <img class="petales" alt="" src="assets/img/farine.webp">
    </div>
    <div class="section-paragraph">
      <h2>Notre farine de sarrasin</h2>
      <p>
        Moulue &agrave; la ferme, notre farine de sarrasin est cultiv&eacute;e sur 4 hectares de sarrasin sur la commune
        de Champsecret, &agrave; 4 km de Domfront-en-Poiraie. Tout est fait &agrave; la main, du semis au s&eacute;chage,
        pour pr&eacute;server au maximum les qualit&eacute;s nutritionnelles du grain. La
        farine est ensuite meul&eacute;e &agrave; la meule de pierre sur place, sans adjonction d&rsquo;aucun additif.
        Elle est également biologique, vegan et sans gluten.
      </p>
      <div class="section-logos">
        <div class="logo">
          <img alt="" src="assets/img/AB.svg" height="30">
          <span>Biologique</span>
        </div>
        <div class="logo">
          <img alt="" src="assets/img/gluten.svg" height="30">
          <span>Sans gluten</span>
        </div>
        <div class="logo">
          <img alt="" src="assets/img/vegetarian-mark.svg" height="30">
          <span>Végétarien et Vegan</span>
        </div>
      </div>
    </div>
  </div>
</div>
