<div class="header" fxLayout="column" fxLayoutAlign="center none">
    <h1 id="title">Notre produit</h1>
</div>
<div class="wrapper" fxLayout="row" fxLayoutAlign="center none">
    <div class="content" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px">
        <p>Nous vendons des galettes de sarrasin à l’unité, sur commande. Elles sont non-garnies, ce qui vous permet de donner libre cours à toutes vos envies, salées ou sucrées.</p>
        <p>Le tarif de base est de 0,75€ la galette puis de 0,70€ à partir de 10 galettes.</p>
        <p>Les ingrédients des galettes se composent uniquement de farine 100% sarrasin, d’eau et de sel de Guérande. Il n’y a aucun produit d’origine animale (pas d’oeuf, pas de lait).</p>
        <p>Nous travaillons avec la farine de sarrasin que nous produisons sur la ferme. Chaque année, nous cultivons environ 4 hectares de sarrasin sur la commune de Champsecret, à 4 km de Domfront-en-Poiraie.</p>
        <p>La farine est moulue à la ferme. Les galettes sont également tournées sur place, à la main.</p>
        <p>Dans l’immédiat, la cuisson est assurée le jeudi.</p>
        <p>N’hésitez pas à nous contacter pour toute demande de production particulière sur un autre jour de la semaine. </p>
    </div>
</div>