#map-div {
  width: 50%;
}

#coordonnees > a {
  font-size: small;
  text-decoration: none;
  color: #444444;
  transition: color ease-in 200ms;
}

#coordonnees > a:hover {
  color: #777777;
  transition: color ease-in 200ms;
}

@media(max-width: 959px) {
  #map-div {
    width: 100%;
  }

  #form-div {
    width: 100%;
  }
}
