<div class="header" fxLayout="column" fxLayoutAlign="center center">
  <h1 id="title">Coordonnees</h1>
</div>
<div class="wrapper" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutAlign.lt-md="start none"
     fxLayoutGap="50px">
  <mat-list fxFlex.gt-md="30" fxLayout="column" fxLayoutAlign="start" id="coordonnees">
    <a mat-list-item>Patrick Brionne</a>
    <a mat-list-item>Le Cerisier</a>
    <a mat-list-item>61700 Champsecret</a>
    <a href="mailto:zinzindesarrasin@gmail.com" mat-list-item>zinzindesarrasin@gmail.com</a>
    <a mat-list-item>06 82 92 28 38</a>
  </mat-list>
</div>
