// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$accent-color: #d7ae0d;
$text-color: #5e5c5d;
$primary-color: #8c8379;
$secondary-color: #efe8df;

$md-zinzindesarrasin: (
  50 : #fdfcfb,
  100 : #faf8f5,
  200 : #f7f4ef,
  300 : #f4efe9,
  400 : #f1ebe4,
  500 : #efe8df,
  600 : #ede5db,
  700 : #ebe2d7,
  800 : #e8ded2,
  900 : #e4d8ca,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$zinzindesarrasin-primary: mat.define-palette($md-zinzindesarrasin);
$zinzindesarrasin-accent: mat.define-palette(mat.$green-palette);

// The warn palette is optional (defaults to red).
$zinzindesarrasin-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$zinzindesarrasin-theme: mat.define-light-theme((
  color: (
    primary: $zinzindesarrasin-primary,
    accent: $zinzindesarrasin-accent,
    warn: $zinzindesarrasin-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($zinzindesarrasin-theme);

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Explorer;
  src: url("assets/fonts/Explorer.otf") format("opentype");
}

@font-face {
  font-family: Boris;
  src: url("assets/fonts/Boris.otf") format("opentype");
}

@font-face {
  font-family: Bosch;
  src: url("assets/fonts/Bosch.otf") format("opentype");
}

@font-face {
  font-family: Neucha;
  src: url("assets/fonts/Neucha.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: Neucha, sans-serif;
}

.mat-list-item-content > .nav-caption {
  margin-left: 10px;
}

html, body {
  height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}
