<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" fxHide.gt-sm>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon class="grey">menu</mat-icon>
        </button>
        <a routerLink="/accueil">
            <button id="title-mobile" mat-button>
                <div id="logo-mobile" fxLayout="column" fxLayoutAlign="center">
                    <span>Zinzin</span>
                    <span>de</span>
                    <span>Sarrasin</span>
                </div>
            </button>
        </a>
    </div>
    <div fxFlex="50" fxFlex.lt-lg="100" fxHide.lt-md>
        <mat-list fxLayout class="navigation-items">
            <mat-list-item>
                <a routerLink="/accueil">
                    <button id="title-desktop" mat-button>
                        <div id="logo-desktop" fxLayout="column" fxLayoutAlign="center">
                            <span>Zinzin</span>
                            <span>de</span>
                            <span>Sarrasin</span>
                        </div>
                    </button>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-button [matMenuTriggerFor]="menuProduit">Nos Galettes</a>
            </mat-list-item>
            <mat-menu #menuProduit>
                <a mat-menu-item routerLink="/produit">Le produit</a>
                <a mat-menu-item routerLink="/commander">Commander</a>
                <a mat-menu-item routerLink="/atouts">Les atouts du sarrasin</a>
            </mat-menu>
            <mat-list-item>
                <a mat-button [matMenuTriggerFor]="menuDecouverte">Qui sommes nous</a>
            </mat-list-item>
            <mat-menu #menuDecouverte>
                <a mat-menu-item routerLink="/ferme">Notre ferme</a>
                <a mat-menu-item routerLink="/pourquoi">Le sarrasin en Normandie</a>
            </mat-menu>
            <mat-list-item>
                <a mat-button routerLink="/contact">Contact</a>
            </mat-list-item>
        </mat-list>
    </div>
</mat-toolbar>
