<div class="header" fxLayout="column" fxLayoutAlign="center none">
    <h1 id="title">Notre ferme</h1>
</div>
<div class="wrapper" fxLayout="row" fxLayoutAlign="center none">
    <div class="content" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px">
        <p>Ce joli petit village est au contact de la route départementale 21 qui relie Domfront-en-Poiraie à La Ferrière-aux-Etangs. </p>
        <p>Il est également accessible depuis la voie verte située en contrebas. Cette ancienne ligne de chemin de fer transformée en chemin touristique sécurisé permet de gagner Flers ou le Mont Saint-Michel, en passant par Domfront-en-Poiraie et Mortain.</p>
        <img class="illustration" src="../../../assets/img/ferme.jpg" alt="Photo d'illustration de la ferme">
        <p>Depuis 2019, nous avons recréé une petite ferme à l’entrée du village en restaurant de très anciens bâtimentsu agricoles. Nous disposons de 10 hectares de terre labourable dans l’environnement proche du corps de bâtiment.</p>
        <p>Toute la transformation du sarrasin est assurée sur place (nettoyage et triage de la graine, stockage, fabrication de la farine puis des galettes). Nous cultivons chaque année quatre hectares de sarrasin (variété La Harpe).
        </p>
    </div>
</div>

<!-- <div class="parallax" id="ferme"></div>
<div class="section" fxLayout="column" fxLayoutAlign="center stretch">
    <p>Ce joli petit village est au contact de la route départementale 21 qui relie Domfront-en-Poiraie à La Ferrière-aux-Etangs. Il est également accessible depuis la voie verte située en contrebas. Cette ancienne ligne de chemin de fer transformée en chemin touristique sécurisé permet de gagner Flers ou le Mont Saint-Michel, en passant par Domfront-en-Poiraie et Mortain.
        Le hameau qui comprend une poignée d’habitations abrite une chapelle restaurée du XIXe siècle, ouverte à la visite.
        Depuis 2019, nous avons recréé une petite ferme à l’entrée du village en restaurant de très anciens bâtimentsu agricoles. Nous disposons de 10 hectares de terre labourable dans l’environnement proche du corps de bâtiment.
        Toute la transformation du sarrasin est assurée sur place (nettoyage et triage de la graine, stockage, fabrication de la farine puis des galettes).
        Nous cultivons chaque année quatre hectares de sarrasin (variété La Harpe).</p>
</div>
<div class="parallax" id="ferme-avant"></div>
<div class="last section" fxLayout="column" fxLayoutAlign="center stretch">
    <h1>N'hesitez pas a nous faire part de vos recommandations</h1>
</div> -->
