<div class="header" fxLayout="column" fxLayoutAlign="center none">
  <h1 id="title">Notre ferme</h1>
</div>
<div class="wrapper" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="30px">
  <img alt="Photo d'illustration de la ferme" class="illustration" src="../../../assets/img/ferme.webp">
  <div class="content" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="30px">
    <p>Ce joli petit village est au contact de la route départementale 21 qui relie Domfront-en-Poiraie à La
      Ferrière-aux-Etangs. </p>
    <p>Il est également accessible depuis la voie verte située en contrebas. Cette ancienne ligne de chemin de fer
      transformée en chemin touristique sécurisé permet de gagner Flers ou le Mont Saint-Michel, en passant par
      Domfront-en-Poiraie et Mortain.</p>
    <p>Depuis 2019, nous avons recréé une petite ferme à l’entrée du village en restaurant de très anciens bâtimentsu
      agricoles. Nous disposons de 10 hectares de terre labourable dans l’environnement proche du corps de bâtiment.</p>
    <p>Toute la transformation du sarrasin est assurée sur place (nettoyage et triage de la graine, stockage,
      fabrication de la farine puis des galettes). Nous cultivons chaque année quatre hectares de sarrasin (variété La
      Harpe).
    </p>
  </div>
</div>
