<div fullpage id="fullpage"> 
    <div class="section first" fxLayout="column" fxLayoutAlign="center">
       <h1>Bienvenue chez Zinzin du sarrasin</h1>
    </div>
    <div class="section" fxLayout="column" fxLayoutAlign="start center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In posuere commodo malesuada. Duis varius nunc sed orci suscipit, sit amet vulputate elit bibendum. Sed in egestas odio. Maecenas in ante quis tortor fermentum dignissim. Duis ultrices turpis eu ligula cursus tristique. Fusce accumsan, sem nec ornare auctor, metus justo condimentum sapien, imperdiet elementum lectus mauris id enim. Maecenas tincidunt tempor dui, ut consectetur purus rhoncus in. Proin eu sem eu lacus luctus sollicitudin. Maecenas placerat malesuada laoreet. Sed lacinia pretium placerat</p>
    </div>
</div>